@import '_colors';
@import '_mixins';

.molecule__purchase-header-container {
  position   : relative;
  font-family: Poppins;

  .purchase-header {
    display        : flex;
    justify-content: space-between;
    background     : $white;
    box-shadow     : 0px 2px 0px rgba(164, 164, 164, 0.25), 0px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius  : 1rem;
    padding        : 2.2rem 3.4rem 2.2rem 2.2rem;
    align-items    : center;

    .title,
    .product-title {
      font-size  : 1.8rem;
      font-weight: 700;
      color      : $primary;
    }

    .company-infos {
      display        : flex;
      justify-content: center;
      align-items    : center;

      span {
        margin-left: 1rem;
      }

      #logo {
        width : 4.2rem;
        height: 4.2rem;
      }
    }

  }

  .logo-name {
    display    : flex;
    margin-left: 1rem;
  }

  .hidden {
    display: flex;

    .hidden-header {
      padding-left: 1rem;
    }

    .subtitle {
      color      : black;
      font-size  : 1.2rem;
      font-weight: 400;
      height     : 2.8rem;
      width      : 277rem;
      height     : 2.8rem;

    }

  }

  @include gt-phone {
    // TODO: add specifications for devices that are greater than phones
    // example: .content { ... }
  }
}