@import '_colors';
@import '_mixins';

.atom__progress-bar-container {
  position   : relative;
  font-family: 'Poppins';
  font-weight: 400;
  margin-top : 10px;

  label {
    font-size: 1.4rem;
  }

  progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    appearance        : none;
    height            : 4px;
    width             : 256px;

  }

  progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius   : 10px;
  }

  progress[value]::-webkit-progress-value {
    background-color: $primary;
    border-radius   : 10px;
  }


  @include gt-phone {
    // TODO: add specifications for devices that are greater than phones
    // example: .content { ... }
  }
}