@import '_colors';
@import '_mixins';

.page__registrations-container {
  position: relative;
  
  .card{
    background-color: white;
    border-radius: 10px;
  }
  @include gt-phone {
    // TODO: add specifications for devices that are greater than phones
    // example: .content { ... }
  }
}
