@import '_colors';
@import '_mixins';

.atom__testing-it-again-container {
  position: relative;

  background-color: $black;
  color: $white;
  // TODO: add default styles (usually focused on phones)

  /******************************************
   *      RESPONSIVITY (media queries)      *
   ******************************************/
  @include gt-phone {
    // TODO: add specifications for devices that are greater than phones
    // example: .content { ... }
  }
}
