@import '_colors';
@import '_mixins';

.page__explore-container {

  .sub-header {
    margin-top: 50px;
  }

  .page-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content: space-between;

    >:last-child {
      margin-right: auto;
    }
  }
}
