@import '_colors';
@import '_mixins';

.molecule__product-header-container {
  position: relative;
  border-bottom: solid 1px $gray-200;
  display: flex;
  padding: 4rem 0;

  .title {

  }

  .owner-container {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 1rem;
  }
}
