@import '_colors';
@import '_mixins';

.molecule__sign-in-person-container {
  position: relative;
  font-family: Poppins;

  .title {
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 3.6rem;
    color: $primary;
    margin-bottom: .8rem;
  }

  .subtitle {
    font-size: 1.4rem;
    line-height: 1.6rem;
    margin-bottom: 3.2rem;
  }

  hr {
    width: 100%;
    border: none;
    margin: 0;
    height: .1rem;
    opacity: 0.2;
    background-color: $gray-400;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(2, calc(50% - 1rem));
    column-gap: 2rem;
    font-size: 1.4rem;
    line-height: 1.6rem;
    padding: 1.6rem 0;

    .field {
      padding: 1.6rem 0;

      .label {
        font-weight: bold;
        margin-bottom: .8rem;
      }

      input {
        padding: 1.6rem;
        width: 100%;
        height: 4.8rem;
        border: .1rem solid $gray-200;
        border-radius: 10px;
      }

      ::placeholder {
        color: $gray-400;
      }

    }

  }

  .content {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: $white;
    font-weight: 600;
  }

  .buttons-container {
    display: flex;
    gap: 2rem;
  }

  .button {
    margin-top: 3.2rem;
    text-transform: uppercase;
  }


  /******************************************
   *      RESPONSIVITY (media queries)      *
   ******************************************/
  @include gt-phone {
    // TODO: add specifications for devices that are greater than phones
    // example: .content { ... }
  }
}
