@import '_colors';
@import '_mixins';

.page__purchaseNew-container {

  #conclusion{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hidden {
    display: none!important;
  }


  .main-area {
    #area {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-bottom: 2rem;
    }
  }

  .step-container {
    min-height: 30rem;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .actions-container {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    align-items: center;
  }
}
